<div>
    <div>
        <h1>DISASTERS</h1>
        <p>{{tagline}}</p>
        <button ng-click="showMap($index)">World View</button>
        <div ng-repeat="x in data">
            <p><h3>{{x.title}}</h3></p>
            <p><label>Date: </label>{{x.geometries[0].date}}</p>
            <p><label>Latitude: </label>{{x.geometries[0].coordinates[0]}}</p>
            <p><label>Longitude: </label>{{x.geometries[0].coordinates[1]}}</p>
            <p><button ng-click="showMap($index)">World View</button></p>
        </div>
    </div>
</div>
